<div class="row">
    <%= render 'single', :article => @article %>

    <% if @article.comments.any? %>
    <h5>Comments</h5>
    <%= render @article.comments %>
    <% end %>

    <%= render 'comments/form' %>
</div>
